#saw {
  width: 27px;
  height: 27px;
  animation-name: saw;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes saw {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(-360deg);
}

}
