#sushi {
  width: 25px;
  height: 25px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: sushi;
}

@keyframes sushi {
    33% {
      transform: rotate(5deg);
    }
    66% {
      transform: rotate(-5deg);
    }
}
